#!/bin/bash

# General
alias hosts="code /etc/hosts"
alias aliasls="grep -i --color -e '^alias\s+*' ~/scripts__tools/scripts/dotfiles/.aliases* | sed 's/alias //' | grep --color -e ':[a-z][a-z0-9]*'"
alias ll="ls -la"

# Software
alias composer="php /usr/local/bin/composer.phar"

# GIT
alias ga="git add"
alias gaa="git add ."
alias gc="git commit -m"
alias gs="git status"
alias gl="git log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit"
alias gpp="find . -maxdepth 1 -mindepth 1 -type d -exec sh -c '(echo {} && cd {} && git pull)' \;"
alias gff="find . -maxdepth 1 -mindepth 1 -type d -exec sh -c '(echo {} && cd {} && git fetch)' \;"
alias gss="find . -maxdepth 1 -mindepth 1 -type d -exec sh -c '(echo {} && cd {} && git -c color.status=always status -s)' \;"

# SEARCH
alias search="find . | grep"
alias hunt="grep -rnw . -e "
alias top5='du -a . | sort -n -r | head -n 5'

# Work In Progress WIP
alias wipp='WIP=`pwd`'
alias wip='cd "$WIP"'

# SITES
alias lon="ssh root@londonparkour.com"

# PUPPET
alias papply="/opt/puppetlabs/bin/puppet apply --disable_warnings deprecations /etc/puppetlabs/code/environments/production/manifests/";
alias cdpuppet="cd /etc/puppetlabs/code/environments/production";

# TERRAFORM
alias tf="terraform"

# PHPUNIT
alias pu="phpunit --testdox"
alias purun="phpunit --testdox --coverage-html tests/report"

# DOCKER / DOCKER-COMPOSE
alias doc="docker"
alias dc="docker-compose"

# DIRECTORIES
alias cdbin="cd /usr/local/bin"

# ZSH
alias reload="source ~/.zshrc"

# EXA
if which exa >/dev/null; then
    alias ll="exa --header --long --git --icons --all"
    alias l="exa --header --long --git --tree --level=2 --icons --all"
fi

# System-specified Aliases
if [[ -f "~/aliases.sh" ]]
then
    source ~/aliases.sh
fi

unalias help